@font-face {
  font-family: "Montserrat-Regular";
  src: url("../../public/fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-Medium";
  src: url("../../public/fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../../public/fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-Semibold";
  src: url("../../public/fonts/Montserrat/Montserrat-Semibold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-Black";
  src: url("../../public/fonts/Montserrat/Montserrat-Black.ttf") format("truetype");
  font-display: swap;
}