@use 'sass:math';

@function remHandler($size) {
	@return math.div($size, 16)+rem;
}

@function vwHandler($x) {
	@return math.div($x, 14.4)+vw;
}

// COLORS 

$color: #c3bbe7;
$black: #000;
$darkblue: #1C2A39;
$white: #FFF;
$darkwhite: #EFEEF6;
$red: #FF353A;
$red2: #FFE0E2;
$violet: #9E98DC;
$darkviolet: #756AD3;
$darkestviolet: #4C3DB2;
$pink: #FF8FE6;
$grey: #EEECEC;
$lightgrey: #EEEDF5;
$darkgrey: #5C6A79;
$yellow: #F2C94C;


// FONTS
$m-r: "Montserrat-Regular";
$m-m: "Montserrat-Medium";
$m-b: "Montserrat-Bold";
$m-s: "Montserrat-SemiBold";
$m-bl: "Montserrat-Black";